#include <windows.h>
#include "resource.h"

// Icon resources
IDB_MENU_ICON ICON "menu_icon.ico"

// String resources
STRINGTABLE
BEGIN
    IDS_MENU_CONVERT     "Convert"
    IDS_MENU_EXPORT      "Export"
    IDS_MENU_OTHER       "Other Options"
    IDS_SUBMENU_1        "Convert to new format"
    IDS_SUBMENU_2        "Export to different format"
    IDS_SUBMENU_3        "Additional options"
END

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Your Company"
            VALUE "FileDescription",  "Context Menu Extension"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "ContextMenuExtension"
            VALUE "LegalCopyright",   "Copyright (C) 2024"
            VALUE "OriginalFilename", "ContextMenuExtension.dll"
            VALUE "ProductName",      "Context Menu Extension"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END 